In [73]:
import pandas as pd

In [74]:
df = pd.read_csv('titanic.csv')
df['Sex'] = df['Sex'].apply(lambda x : 1 if x == 'male' else 0)
df.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,1,22.0,1,0,7.2500
1,1,1,0,38.0,1,0,71.2833
2,1,3,0,26.0,0,0,7.9250
3,1,1,0,35.0,1,0,53.1000
4,0,3,1,35.0,0,0,8.0500

In [81]:
X = df.drop('Survived', axis = 1)
y = df['Survived']

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier



def get_score(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    return model.score(X_test, y_test)

from sklearn.model_selection import StratifiedKFold

fold = StratifiedKFold(n_splits = 3)

score_l = []
score_rf = []
score_dt = []
score_svm = []
score_knn = []

for train_index, test_index in fold.split(X, y):
    X_train, X_test, y_train, y_test = X.iloc[train_index], X.iloc[test_index], \
                                        y.iloc[train_index], y.iloc[test_index]
    score_svm.append(get_score(SVC(), X_train, X_test, y_train, y_test))
    score_l.append(get_score(LogisticRegression(), X_train, X_test, y_train, y_test))
    score_dt.append(get_score(DecisionTreeClassifier(), X_train, X_test, y_train, y_test))
    score_rf.append(get_score(RandomForestClassifier(n_estimators = 150,
                                                     min_samples_leaf = 8,
                                                     min_samples_split = 10), X_train, X_test, y_train, y_test))
    score_knn.append(get_score(KNeighborsClassifier(), X_train, X_test, y_train, y_test))

c:\Users\abhij\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [76]:
score_l

[0.7972972972972973, 0.7837837837837838, 0.8101694915254237]

In [86]:
score_rf

[0.7972972972972973, 0.8378378378378378, 0.8169491525423729]

In [78]:
score_knn

[0.6385135135135135, 0.6925675675675675, 0.6915254237288135]

In [79]:
score_svm

[0.6283783783783784, 0.6722972972972973, 0.6745762711864407]

In [80]:
score_dt

[0.7297297297297297, 0.777027027027027, 0.7661016949152543]

In [91]:
new = df
new.head()

new.to_csv('titanic_new.csv', index = False)